<h1>Students</h1>
<%= link_to "Students", "/students" %>
<%= link_to "Schools", "/schools" %>
<% @students.each do |student| %>
<% if student.honor_roll == true %>
<p>Name: <%= student.name %></p>
<p>Honor Roll?: <%= student.honor_roll %></p>
<p>Class Rank: <%= student.class_rank %></p>
<p>School Id: <%= student.school_id %></p>
   <% end %>
<% end %>