<h1>Honor Roll Students</h1>
<%= link_to "Students", "/students" %>
<%= link_to "Schools", "/schools" %>
<% @students.each do |student| %>
<% if student.honor_roll == true %>
<p><b>Name:</b> <%= student.name %> <%= link_to "Update Student", "/students/#{student.id}/edit" %> 
<%= link_to "Delete Student", "/students/#{student.id}", method: :delete %> </p>
<p>Honor Roll: <%= student.honor_roll %></p>
<p>Class Rank: <%= student.class_rank %></p>
<p>School Id: <%= student.school_id %></p>
<% end %>
<% end %>