<h1><%= @student.name %></h1>
<%= link_to "Students", "/students" %>
<p>Honor Roll: <%= @student.honor_roll%></p>
<p>Class Rank: <%= @student.class_rank%></p>
<p>School Id: <%= @student.school_id%></p>