<%= form_with url: "/schools/#{@school.id}", method: :patch, local: true do |form| %>
   <p><%= form.label :name %>
   <%= form.text_field :name %></p>
   <p><%= form.label :national_rank %>
   <%= form.text_field :national_rank %></p>
   <p><%= form.label :ap_program %>
   <%= form.text_field :ap_program %></p>
   <%= form.submit 'Submit' %>
<% end %>