<h1>Schools</h1>
<%= link_to "Students", "/students" %>
<%= link_to "Schools", "/schools" %>

<% @schools.each_with_index do |school, index| %>
<div id="school-<%= index%>">
<p> <%= school.name %> <b>Created At:</b> <%= school.created_at%></p>
</div>
<% end %>